*{
    font-family: 'Outfit', sans-serif;
}
html,body{
    background-color: hsl(212, 45%, 89%) ;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}
.container{
    width: 280px;
    padding: 20px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    box-shadow: 5px 5px 20px #c7c7c7;
}
.container > img{
    width: 280px;
    border-radius: 10px;
}
.container-text{
    padding: 10px;
}
h1{
    color: hsl(218, 44%, 22%);
    font-size: 1.4em;
    font-weight: 700;
}
p{
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}
